# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env

# ========== Project Folders ==========
data/
models/
data/sms_spam.tsv
!data/sms_spam.tsv.dvc

# ========== DVC ==========
# *.dvc
# !.gitignore
# .dvc/cache/
# .dvc/tmp/

# ========== Jupyter ==========
.ipynb_checkpoints/

# ========== OS Files ==========
.DS_Store
Thumbs.db
